* {
	margin: 0;
	padding: 0;
}

body {
	background: #ccc;
	padding: 20px;	
}

#signup {
	background:#fff;
	border:1px solid #222;
	border-radius: 5px;
	padding: 20px;
	width: 400px;	
}
		
#signup fieldset {
	border: 1px solid #ccc;
	margin-bottom: 30px;
}

#signup fieldset:last-of-type {
	border:none;
}

#signup legend {
	font-size: 16px;
	font-weight: bold;
	padding-left:5px;
	padding-bottom: 10px;	
}
			
#signup ul li {
	line-height: 30px;
	list-style: none;
	padding: 5px 10px;
	margin-bottom: 2px;
}
			
#signup label {
	float: left;
	font-size: 13px;
	width: 110px;
}

#signup button {	
	border: 1px solid #222;
	border-radius: 20px;
	display: block;
	font-size: 16px;
	letter-spacing: 1px;
	margin: auto;
	padding: 7px 25px;
}

#signup input[type=text], #signup input[type=password], #signup input[type=tel], #signup input[type=email] {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 13px;
	padding: 5px;
	width: 200px;
}					

/*
#signup input:not[type=radio] {
	border: 1px solid #ccc;
	border-radius: 3px;
	font-size: 13px;
	padding: 5px;
	width: 200px;
}
*/


#signup input[required] {
	border:1px red solid;
}

#signup input[readonly] {
	border:none;
}

#signup button:hover {
	background: #222;
	color:#fff;
}